.carousel-wrap {
  position: relative;
}
.carousel-wrap > .list {
  list-style-type: none;
  position: absolute;
  overflow: hidden;
}
.carousel-wrap > .list > li {
  float: left;
}
.carousel-wrap > .list > li > a {
  display: block;
}
.carousel-wrap > .list > li > a > img {
  width: 100%;
  display: block;
}
.carousel-wrap > .points-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.carousel-wrap > .points-wrap > span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  margin-left: 5px;
}
.carousel-wrap > .points-wrap > span.active {
  background-color: #f00;
}
